.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.brand{
    text-align: left;
    
}
.image{
    display: grid;
    place-content: center;
    margin-left: 40px;
}

.description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.talle{
    display: flex;
    padding-left: 20px;
}